<!DOCTYPE html>
<html>
<head>
    <title>Все Заказы</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div>
        <form onsubmit="window.location = 'http://localhost/order/' + search.value; return false;">
            <input id="search" placeholder="Введите ID" type="search" name="search">
        <input class="btn btn-1" type="submit" value="Найти">
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>TrackNumber</th>
        <th>Entry</th>
        <th>Delivery</th>
        <th>Payment</th>
        <th>Items</th>
        <th>Locale</th>
        <th>InternalSignature</th>
        <th>CustomerId</th>
        <th>DeliveryService</th>
        <th>Shardkey</th>
        <th>SmId</th>
        <th>DateCreated</th>
        <th>OofShard</th>
    </tr>
    </thead>
    <tbody>
    {{ range $order, $Orders := . }}
    <tr>
        <td>{{ $order }}</td>
        <td>{{ $Orders.TrackNumber }}</td>
        <td>{{ $Orders.Entry }}</td>
        <td>{{ $Orders.Delivery.Uid }}</td>
        <td>{{ $Orders.Payment.Transaction }}</td>
        <td>
        {{ range $pep:=$Orders.Items}}
            {{$pep.Uid}}<br>
        {{ end }}
        </td>
        <td>{{ $Orders.Locale }}</td>
        <td>{{ $Orders.InternalSignature }}</td>
        <td>{{ $Orders.CustomerId }}</td>
        <td>{{ $Orders.DeliveryService}}</td>
        <td>{{ $Orders.Shardkey }}</td>
        <td>{{ $Orders.SmId }}</td>
        <td>{{ $Orders.DateCreated }}</td>
        <td>{{ $Orders.OofShard }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
</body>

</html>